
.azeret-mono-regular {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Header background image */
#header {
  height: 573px;
  background-image: url(../assets/Hero-bg.png); 
  background-position: top left, bottom right;
  background-size: cover;
  width: 100%;
  padding-bottom: 198px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 110px;
}

/* header section - nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0px 30px 0px;
  padding: 0 150px 20px 150px;
  background-color: white;
}

.nav-title{
  font-weight: 700;
  font-size: 25px;
}

.btn {
  text-align: center;
  font-weight: 600;
  color: rgba(13, 19, 33, 1);
  background-color: white;
  font-size: 17px;
  padding: 18px;
  border-radius: 8px;
}

/* header section - banner */
.banner{
  display: flex;
  justify-content: center;
  margin: 20px 240px 25px 240px;
}

.banner-content {
  max-width: 800px;
}

.banner-img{
  margin: 0 280px 5px 280px;
  height: 230px;
  width: 230px;
}

.banner-text{
  text-align: center;
}

.banner-title{
  font-size: 45px;
  font-weight: 800;
  color: rgba(13, 19, 33, 1);
}

.banner-description{
  font-size: 17px;
  margin-bottom: 40px;
}

.contact {
  background-color: rgba(13, 19, 33, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  height: 21px;
  width: 60px;
  padding: 15px 24px;
  text-decoration: none;
}

/* Why Web Section */
main {
  margin-left: 350px;
  margin-right: 350px;
}

.why-web-main{
  background-color: rgba(173, 200, 247, 0.09);
  padding: 40px 0;
}

.web-cont {
  margin: 0 70px;

}

.why-web{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px 120px 20px 120px;
}

.why-web-text {
  max-width: 1000px;

}

.why-web-heading{
  font-size: 34px;
  font-weight: 800;
}

.why-web-para{
  font-size: 17px;
}

.why-web-container {
  display: flex;
  justify-content: center;
  margin: 30px 50px;
}

.blog {
  display: flex;
  background-color: rgba(255, 255, 255, 0.593);
  border-radius: 16px;
  margin: 0 0px 20px;
  padding: 45px;
}

.blog-heading {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}

.blog-description {
  font-size: 16px;
}
  
.btn-secondary {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  margin-top: 22px;
  padding: 15px 20px;
  border: 3;
  background-color: rgb(255, 253, 253);
}

.blog-img {
  height: 240px;
  width: 270px;
  margin-left: 60px;
  margin-right: 50px;
}

.blog-direction {
  margin-left: 50px;
  margin-right: 60px;
}

/* My Inspiration Section */
.my-inspiration {
  display: flex;
  justify-content: center;
}

.inspiration-container {
  margin: 80px 80px;

}

.inspiration-text {
  align-content: center;
  justify-content: center;
  margin-bottom: 35px;
  padding: 0 20px;
}

.inspiration-title {
  text-align: center;

}

.inspiration-para {
  text-align: center;
  
}

.video-container {
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 19px;
  padding: 16px;
}

.video {
  height: 580px;
  width: 1080px;
  padding: 0px;
  margin: 16px;
  border-radius: 19px;
}

/* My Current Target section */
.my-current-target {
  display: flex;
  justify-content: center;
}

.current-target {
  margin: 100px 0;
}

.target-text{
  align-content: center;

}

.target-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-img {
  height: 50px;
  width: 50px;
}

.target-title{
  font-weight: 800;
  font-size: 20px;
}

.target {
  display: inline-block;
  background-color: rgba(255, 76, 30, 0.05);
  width: 255px;
  height: 300px;
  margin-right: 25px;
  margin-left: 25px;
  justify-content: space-evenly;
  margin-bottom: 100px;
  padding: 40px;
  border-radius: 15px;

}

.anchor-container {
  padding-top: 12px;
}

.back-color {
  background-color: rgba(0, 76, 232, 0.05);
}

.java-color {
  background-color: rgba(255, 223, 0, 0.05);
}


/* I Need Support section */
.support-main{
  display: flex;
  background-image: url(../assets/handshake.jpg);
  
  /* linear-gradient(#0d1321), */
  background-position: center;
  background-size: cover;
  height: 280px;
  width: 100%;
  width: 980px;
  padding: 50px 67px 50px 47px;
  margin: 50px 170px 200px 110px;
  border-radius: 19px;
}

.my-support-container {
  display: flex;
  justify-content: center;
  /* margin: 50px 100px 200px 100px; */
  /* align-content: center; */
  /* height: 310px;
  width: 1140px; */
  /* padding: 5px 50px; */
  /* margin: 50px 150px 200px 150px; */ 
}

.support-cont {
  /* display: flex; */
  justify-content: center;
  align-content: center;
  margin-left: 110px;
  
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 20px 100px; */
}

.support-text {
  /* align-content: center; */
  text-align: center;
  /* margin-bottom: 25px; */ 
}

.support-title {
  font-size: 30px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.support-para {
  color: rgba(255, 255, 255, 1);
  opacity: 0.7;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  
}

#text {
  width: 440px;
  /* margin: 0 15px 0 140px; */
  padding: 15px 20px;
  font-size: 17px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.4);
  background-color: rgba(255, 255, 255, 1);
}

#submit {
  padding: 15px 20px;
  /* margin-right: 140px; */
  font-weight: 600;
  font-size: 17px;
  border-radius: 8px;
  /* border: 1px solid rgba(13, 19, 33, 1); */
  background-color: rgba(255, 255, 255, 1);
  
}

