
.azeret-mono-regular {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Header background image */
#header {
  height: 573px;
  background-image: url(../assets/Hero-bg.png); 
  background-position: top left, bottom right;
  background-size: cover;
  width: 100%;
  padding-bottom: 198px;
  margin-bottom: 110px;
}

/* header section - nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0px 30px 0px;
  padding: 0 150px 20px 150px;
  background-color: white;
}

.nav-title{
  font-weight: 700;
  font-size: 25px;
}

.btn {
  text-align: center;
  font-weight: 600;
  color: rgba(13, 19, 33, 1);
  background-color: white;
  font-size: 17px;
  padding: 18px;
  border-radius: 8px;
}

/* header section - banner */
.banner{
  display: flex;
  justify-content: center;
  margin: 20px 240px 25px 240px;
}

.banner-content {
  max-width: 800px;
}

.banner-img{
  margin: 0 280px 5px 280px;
  height: 230px;
  width: 230px;
}

.banner-text{
  text-align: center;
}

.banner-title{
  font-size: 45px;
  font-weight: 800;
  color: rgba(13, 19, 33, 1);
}

.banner-description{
  font-size: 17px;
  margin-bottom: 40px;
}

.contact {
  background-color: rgba(13, 19, 33, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  height: 21px;
  width: 60px;
  padding: 15px 24px;
  text-decoration: none;
}

/* Why Web Section */
.why-web-main{
  background-color: rgba(173, 200, 247, 0.09);
  margin: 0px 350px ;
  padding: 40px 0;
}

.web-cont {
  margin: 0 70px;

}


.why-web{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px 120px 20px 120px;
}

.why-web-text {
  max-width: 1000px;

}

.why-web-heading{
  font-size: 34px;
  font-weight: 800;
}

.why-web-para{
  font-size: 17px;
}

.why-web-container {
  display: flex;
  justify-content: center;
  margin: 30px 50px;
}

.blog {
  display: flex;
  background-color: rgba(255, 255, 255, 0.593);
  border-radius: 16px;
  margin: 0 0px 20px;
  padding: 45px;
}

.blog-heading {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 20px;
}

.blog-description {
  font-size: 16px;
}
  
.btn-secondary {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  margin-top: 22px;
  padding: 15px 20px;
  border: 3;
  background-color: rgb(255, 253, 253);
}

.blog-img {
  height: 240px;
  width: 270px;
  margin-left: 90px;
}

